@model IEnumerable<EventManagerApp.Models.Ticket>
@{
    ViewBag.Title = "Index";
}

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Ticket Owner
            </th>
            <th>
                E-mail Adress
            </th>
            <th>
                Event Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td style="width:20px">
                    @obj.Id
                </td>
                <td style="width:20%">
                    @obj.Customer.FirstName @obj.Customer.LastName
                </td>
                <td>
                    @obj.Customer.Email
                </td>
                <td>
                    @Html.ActionLink(obj.Event.Name, "Details", "Events", new { id = obj.Event.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

