@model EventManagerApp.Models.Event
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>
<p>When: @Model.Date</p>
<p>Where: @Model.Place</p>
<p>Tickets Left: @Model.TicketPool</p>
@if (User.IsInRole("Admin"))
{
    <a href='@Url.Action("Index", "Tickets", new { id = Model.Id })' class="btn btn-primary">Tickets</a>
    <a href='@Url.Action("Edit", "Events", new { id = Model.Id })' class="btn btn-primary">Edit</a>
    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete Event</button>
}
else
{
    <a href='@Url.Action("Buy", "Tickets", new { id = Model.Id })' class="btn btn-primary">Buy Ticket</a>
}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete "@Model.Name"</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete this event?
            </div>
            <div class="modal-footer">
                <a href='@Url.Action("Delete", "Events", new { id = Model.Id })' type="button" class="btn btn-primary">Yes</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
